{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block content %}
<div style="text-align: right; color: brown; font-size: 14px; font-weight: bold; font-family: tahoma;">
    СЕГОДНЯ {% current_time %}
</div>
<div style="text-align: left; color: grey; font-size: 12px; font-weight: bold;">
    {% if user.is_authenticated %}
    Вы вошли как: <strong>{{ user.username }}</strong>
    {% endif %}
</div>
<hr>
<div style="text-align: left; color: green; font-size: 20px; font-weight: bold;">
        ГЛАВНАЯ
</div>
<hr>

{% endblock content %}