{% extends 'flatpages/default.html' %}

{% block content %}
<br>
<div style="text-align: left; color: green; font-size: 20px; font-weight: bold;">
        УДАЛЕНИЕ ПУБЛИКАЦИИ
</div>
<hr>
<div style="text-align: left; color: red; font-size: 16px; font-weight: bold; font-family: tahoma">
    Вы уверены, что хотите удалить запись "{{ object.title }}"?
</div>
<br>
<form action="" method="post" style="text-align: left;">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Удалить</button>
    <a href="{% url 'news:post_list' %}" class="btn btn-secondary">Отмена</a>
</form>

{% endblock content %}