{% extends 'flatpages/default.html' %}

{% block content %}
<hr>
    <div style="text-align: left; color: green; font-size: 20px; font-weight: bold;">
        {{ post.title }}
    </div>
<hr>
    <div style="text-align: right; color: green; font-size: 18px; font-weight: bold; font-family: courier;">
        Опубликовано: {{ post.created_at|date:"d M Y" }}
    </div>
<br>
    <div style="text-align: left;
               color: grey; font-family: tahoma; padding: 100px;">
        {{ post.text }}
    </div>

{% endblock %}