{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block content %}

<div style="text-align: right; color: brown; font-size: 12px; font-weight: bold; font-family: tahoma;">
    СЕГОДНЯ {% current_time %}
</div>
<div style="text-align: left; color: grey; font-size: 12px; font-weight: bold;">
    {% if user.is_authenticated %}
    Вы вошли как: <strong>{{ user.username }}</strong> | <a href="/profile/edit/">Редактировать профиль</a>
    {% endif %}
</div>
<hr>
<div style="text-align: left; color: green; font-size: 20px; font-weight: bold;">
        НОВОСТИ
</div>
<hr>
<div style="text-align: right; color: green; font-size: 12px; font-weight: normal; font-family: tahoma;">
        Количество публикаций: {{ total_posts }}
</div>
<br>
{% if posts %}
<ol style="list-style-type: none; padding: 0; margin: 0;">
    {% for post in posts %}
        <li style="margin-bottom: 20px; padding: 10px; border-bottom: 1px solid #eeeeee;">
            <div style="text-align: left; color: grey; font-family: tahoma; font-size: 16px;">
                <div style="text-align: left; font-size: 16px;color: brown; font-weight: bold;">
                    {{ post.title|censor }}</div>
                <div style="text-align: left; font-size: 20px;color: grey; font-weight: bold;">
                    {{ post.created_at|date:"d. m. Y." }}</div>
                <div style="text-align: left; font-size: 14px;color: green; font-weight: bold;">
                    Автор: {{ post.author.user.username }}</div>
                <div style="text-align: left; font-size: 14px;">
                    {{ post.text|censor|truncatechars:20 }}</div>
            </div>
        </li>
    {% endfor %}
</ol>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}


<!-- Пагинация -->
<div style="color: grey; text-align: center; margin: 30px 0;">
  {% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}" style="color: brown;">1</a>
    {% if page_obj.previous_page_number != 1 %}
      ... <a href="?{% url_replace page=page_obj.previous_page_number %}" style="color: brown;">
    {{ page_obj.previous_page_number }}</a>
    {% endif %}
  {% endif %}

  <strong style="color: grey;">{{ page_obj.number }}</strong>

  {% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}" style="color: brown;">
        {{ page_obj.next_page_number }}</a>
    {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
      ... <a href="?{% url_replace page=page_obj.paginator.num_pages %}" style="color: brown;">
    {{ page_obj.paginator.num_pages }}</a>
    {% endif %}
  {% endif %}
</div>


{% endblock content %}